@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente base y colores */
body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #151415;
  width: 100%;
  margin: 0;
  padding: 0;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

